<% provide(:title, "Search Products") %>
<h2 class="text-left">Search Products with keyword: <%= params[:keyword] %></h2>
<%= will_paginate @products %>
<div class="col-md-12" style="text-align: center;">
  <% if @products!= [] %>
    <% @products.each do |product| %>
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <%= image_tag(product.image, alt: product.name, style: 'height: 300px') %>
          <div class="caption">
            <div class="div_product_name" style="width: 235px; height: 53px;">
              <h3 title="<%= product.name %>"><%= truncate(product.name, length: 25) %></h3>
            </div>
            <p><b>Price: </b><%= number_to_currency(product.price/100.000) %></p>
            <%= form_tag cart_products_path do %>
              <p>
                <%= hidden_field_tag :product_id, product.id %>
                Quantity:<b> <%= number_field_tag :quantity, "1", class: 'form-control' %></b><br/>
                <%= submit_tag "Add To cart", :class => "btn btn-primary", :style => "width: 100px" %>
              </p>
            <% end %>
            <%= link_to "More Info", product, :class => "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h1> Not found</h1>
  <% end %>
</div>
<%= will_paginate @products %>