<% provide(:title, "Edit Products") %>
<h2 style="text-align: center;">Edit products <%= @product.id %></h2>
<div class="col-9">
  <%= form_for [:admin, @product] do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: 'form-control' %><br/>
    </div>

    <div class="field">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, @categories, :id, :name, :selected => @product.category_id %>
    </div>

    <div class="field">
      <%= f.label :price %>
      <%= f.number_field :price, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :image %>
      <%= f.text_field :image, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', rows: '15' %>
    </div>
    </br>
    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= link_to "Back", :back %>
</div>
