<% provide(:title, "Products to category") %>
<%= render 'layouts/list_categories' %>
<div class="col-md-9" style="text-align: center;">
  <div class="row">
  <%= render 'search/search_box' %>
   <h3 style="text-align: center;">Products to category: <%= @category.name %></h3>
  <%= render @products %>
  </div>
<%= will_paginate @products %>
</div>
