<% provide(:title, "Product Detail") %>
<%= render 'layouts/list_categories' %>
<h1>Product Detail</h1>
<div class="col-md-9">
  <div class="thumbnail">
    <%= image_tag(@product.image, alt: @product.name, class: "img-responsive") %><br>
    <hr>
    <div class="caption-full">
       <br/>
      <h4><b><%= @product.name %></b></h4>
      <p><%= simple_format(@product.description) %></p>
      <h3>
        <b>Price: $</b><%= (@product.price/100.00) %>
        <%= form_tag cart_products_path do %>
        <p>
          <%= hidden_field_tag :product_id, @product.id %>
          Quantity: <%= number_field_tag :quantity, "1", class: 'form-control', :style => "width: 100px;" %><br/>
          <%= submit_tag "Add To cart", :class => "btn btn-primary", :style => "width: 100px" %>
        </p>
      <% end %>
      </h3>
    </div>
  </div>
</div>

